<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OmniEats &mdash; Admin Portal</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- This line in the <head> will cause refresh after after the number of seconds specified. -->
    <meta http-equiv="refresh" content="20" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OmniEats has proudly partnered with an extensive network of over hundreds of renowned and handpicked healthy food restaurants across Canada. Our collaboration with these culinary gems ensures that you have access to a diverse range of flavorful, nutritious, and thoughtfully prepared dishes, all available at your fingertips."
    />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/admin.js"></script>
  </head>
  <body>
    <%- include('partials/_admin-header') %>
    <main class="container">
      <section class="open-orders-grid">
        <h1 class="open-orders-heading">Open Orders Queue</h1>
        <a
          title="Refresh"
          href="/api/widgets/orders/<%=restaurant.id%>/restaurants"
          ><ion-icon class="refresh-icon" name="refresh-outline"></ion-icon
        ></a>
        <%if(openOrders.length){ %> <% for(let order of openOrders){ %>
        <article class="open-order">
          <form
            class="add-eta"
            action="/api/widgets/orders/<%=order.order_number%>/eta"
            method="POST"
          >
            <label for="order-eta">Update Order ETA</label>
            <input
              type="hidden"
              name="restaurant_name"
              value="<%= restaurant.name%>"
            />
            <input
              type="hidden"
              name="restaurant_id"
              value="<%= restaurant.id%>"
            />
            <input
              type="number"
              name="eta"
              placeholder="minutes"
              id="order-eta"
              min="1"
              required
            />

            <button type="submit" class="eta-btn btn btn--form">Add ETA</button>
          </form>
          <%if(order.eta !== null){%>
          <p class="eta-message">
            <span class="strong">ETA: </span><%=order.eta %> <%= order.eta === 1
            ? "minute" : "minutes" %>
          </p>
          <%} else{ %>
          <p class="eta-message">Please enter an ETA for this order</p>
          <%}%>
          <ul class="customer-info-list">
            <li>
              <span class="strong">Order#: </span> <%=order.order_number%>
            </li>
            <li>
              <span class="strong">Customer:</span> <%=order.customer_name%>
            </li>
            <li>
              <span class="strong">Customer Phone:</span>
              <%=order.customer_phone%>
            </li>
            <li>
              <span class="strong">Order Date:</span>
              <%=order.order_date.toLocaleDateString("en-US", {timeZone:
              "America/New_York"}) %>
            </li>
          </ul>

          <p class="submitted-order-list strong">Quantity</p>
          <p class="submitted-order-list strong">Item Name</p>
          <p class="submitted-order-list strong">Unit Price</p>
          <%for(let items of orderItems){ %> <%if(order.order_number ===
          items.id){%>
          <p class="submitted-order-list"><%=items.quantity%></p>
          <p class="submitted-order-list center-text"><%=items.name%></p>
          <p class="submitted-order-list">$<%=items.price/100%></p>
          <%}%> <%}%> <%if(order.eta !== null){%>
          <form
            class="close-order"
            action="/api/widgets/orders/<%=order.order_number%>/order_status"
            method="POST"
          >
            <input
              type="hidden"
              name="restaurant_id"
              value="<%= restaurant.id%>"
            />
            <button type="submit" class="close-order-btn btn btn--outline">
              Complete Order
            </button>
          </form>
          <%}%>
        </article>
        <%}%> <%} else{%>
        <h3 class="cart-empty center-text strong">No Open Orders in Queue</h3>
        <%}%>
      </section>
      <div class="scroll">
        <a class="top-page hide" href="" id="scroll-top">
          <ion-icon class="arrow-up" name="arrow-up-outline"></ion-icon>
        </a>
      </div>
    </main>
  </body>
</html>
