<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OmniEats &mdash; Home</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- This line in the <head> will cause refresh after after the number of seconds specified. -->
      <meta http-equiv="refresh" content="20">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OmniEats has proudly partnered with an extensive network of over hundreds of renowned and handpicked healthy food restaurants across Canada. Our collaboration with these culinary gems ensures that you have access to a diverse range of flavorful, nutritious, and thoughtfully prepared dishes, all available at your fingertips."
    />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  </head>
  <body>
    <%- include('partials/_header') %> <% if(orderHistory.length) { %>
      <main>
        <div class="order-history-heading">
        <p class="history-text">Order History</p>
        <a title="Refresh" href="/api/users/<%=user["id"]%>"><ion-icon class="refresh-icon" name="refresh-outline"></ion-icon></a>
      </div>
      <aside class="container-order">
        <% for (let order of orderHistory) { %>
        <a href="#">
          <div class="order-history-container">
            <div class="strong restaurant-text">
              <p class="center-text"><%= order["restaurant"] %></p>
            </div>
            <div class="order-history">
              <img class="order-history-img" src="<%=
                order["thumbnail_photo_url"] %>" alt="item thumbnail">
            </div>

            <div class="order-history-data">
              <div class="strong order-history-date">
                <p>Order# <%= order["order_number"]%></p>
                <% if(!order["completed"]) { %>
                  <p>ETA: <%= order["eta"] ? order["eta"] +" mins" : "pending" %></p>
                <%} else {%>
                  <p>Last ordered on</p>
                <%}%>
                <p><%= order["order_date"].toLocaleDateString("en-US", {timeZone: "America/New_York"}) %></p>
              </div>
            </div>
          </div>
        </a>
        <% } %>
      </aside>
    <% } %>

      <h1 class="heading-restaurants center-text">Try our business partner</h1>
      <% if(restaurants){ %>
      <% for (let restaurant of restaurants) { %>
      <section class="container-all-restaurants">
        <a href="/api/users/restaurants/<%= restaurant["id"] %>">
          <div class="restaurant-container">
            <img class="resturant-img" src="<%= restaurant["logo_url"] %>"
            alt="resturant logo">
            <div class="restaurant-details-text">
              <p><%= restaurant["name"] %></p>
              <p><%= restaurant["city"] %></p>

              <p>
                <span class=".margin-right-sm"> <%= restaurant["street_number"] %></span> <%= restaurant["street"] %>
              </p>
              <div class="opening-hours">
                <h4>Opening Hours:</h4>
                <p>
                  <span class="hours-margin-right"><%= restaurant["open_time"] %></span>   <span class="hours-margin-right">to </span>  <%= restaurant["close_time"] %>
                </p>
              </div>
            </div>
          </div>
        </a>
      </section>
      <% } %>
      <% } %>
    </main>
  </body>
</html>
