<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OmniEats &mdash; Home</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OmniEats has proudly partnered with an extensive network of over hundreds of renowned and handpicked healthy food restaurants across Canada. Our collaboration with these culinary gems ensures that you have access to a diverse range of flavorful, nutritious, and thoughtfully prepared dishes, all available at your fingertips."
    />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/_header') %> <% if(orderHistory.length === 3) { %>
    <h1 class="history-text center-text">Order History</h1>

      <aside class="container-order">
        <% for (let order of orderHistory) { %>
          <a href="#">
            <div class="order-history-container">
              <div class="strong restaurant-text"><%= order["restaurant"] %></div>
              <div class="order-history">
                <img class="order-history-img" src="<%= order["thumbnail_photo_url"]
                %>" alt="item thumbnail">
              </div>
              <div class="order-history-data">
                <div class="strong order-history-date">
                  <%= order["order_date"].toLocaleDateString('en-US') %>
                </div>
              </div>
            </div>
          </a>
          <% } %>
        </aside>


    <% } %>

    <h1 class="heading-restaurants center-text">Try our business partner</h1>
    <% for (let restaurant of restaurants) { %>
      <section class="container-all-restaurants">
        <a href="/api/users/restaurants/<%= restaurant["id"] %>">
          <div class="restaurant-container">
            <img class="resturant-img" src="<%= restaurant["logo_url"] %>"
            alt="resturant logo">
            <div class="restaurant-details-text">
              <p><%= restaurant["name"] %></p>
              <p><%= restaurant["city"] %></p>
              <p>
                <span class=".margin-right-sm"> <%= restaurant["street_number"] %></span> <%= restaurant["street"] %>
              </p>
              <p class="opening-hours">
                <h4>Opening Hours:</h4>
                <span class="hours-margin-right"><%= restaurant["open_time"] %></span>   <span class="hours-margin-right">to </span>  <%= restaurant["close_time"] %>
              </p>
            </div>
          </div>
        </a>

      </section>
    <% } %>
  </body>
</html>
