<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OmniEats &mdash; Home</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OmniEats has proudly partnered with an extensive network of over hundreds of renowned and handpicked healthy food restaurants across Canada. Our collaboration with these culinary gems ensures that you have access to a diverse range of flavorful, nutritious, and thoughtfully prepared dishes, all available at your fingertips."
    />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <%- include('partials/_header') %>

    <% for (let id in orderHistory) { %>
      <aside>
        <% if(orderHistory.mainPic){ %>
          <h1>foo</h1>
        <% } else{ %>
          <h1>bar</h1>
       <% } %>
        <div>orderHistory[id].name</div>
        <div>orderHistory[id]</div>
      </aside>
    <tr>
      <td><%= id %></td>
      <td><%= urls[id].longURL %></td>
      <td>
        <a href="<%= `/urls/${id}` %>" class="btn btn-outline-primary">Edit</a>
      </td>
      <td>
        <form action="<%= `/urls/${id}/delete` %>" method="post">
          <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <% } %>
  </body>
</html>
